/* Starts Here - Media Query for (min-width:360px) and (max-width:680px) */
@media only screen and (min-width:360px) and (max-width:680px) {
    .tabcontent {
        padding: 0px !important;
        }
    .pers_blog_heading{
        width:200px;
    }
    .card_content_pers{
        width: 80%!important;
    padding: 20px !important;
    }
    .card_wrapper{
        display: flex;
    /* justify-content: center; */
    flex-direction: column;
    }
    .blog_img {
        width: 200px !important;
        height: 100px !important;
    }
    .blog_heading{
        width:200px !important;
    }
    .pers_blog_img {
        width: 100px !important;
    }
    .mail_image{
        display: none !important;
    }
    .goto_label{
        display: none !important;
    }
    .my_name {
        display: flex;
        align-items: center;
        font-size:22px !important;
    }
    .lang_i_work_on {
        width: 75%;
    }
    .i_style {
        font-size: 50px !important;
        padding: 10px !important;
        border-radius: 60px !important;
    }
    .column {
        padding: 20px 25px !important;
    }
    /* html{
        width: 100% !important;
    } */
    section {
        /* margin-left: 55px !important; */
    }
    .rightheadercontent{
        display: none;
    }
    .contact_image{
        display: none !important;
    }
    .heading_1{
        font-size:19px !important;
    }
    .about_2{
        font-size:15px !important;
        text-align: justify ! important;
        width: 75% !important;
        display: block;
    }
    .center_about_me{
        width: 100% !important;
    }
    h2{
        font-size:16px !important;
    }
    p{
        font-size:15px !important;
    }
    .handcrafted{
        font-size: 14px !important;
    }
}
/* Ends Here - Media Query for (min-width:360px) and (max-width:680px) */

/* Starts here - Style for LG Gram */ 

/* Parent Container */
.content_img{
    position: relative;
    /* width: 200px;
    height: 200px; */
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}
/* Child Text Container */
.content_img div{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    margin-bottom: 5px;
    font-family: sans-serif;
    opacity: 0;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
}
/* Hover on Parent Container */
.content_img:hover{
    cursor: pointer;
}
.content_img:hover div{
    width: 150px;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7; 
}
.header{
    /* margin-top: 10px; */
    margin-left: 2px;
    margin-right: 2px;
    border-bottom: 5px solid #04c2c9;
    display: flex !important;
    /* flex-wrap: nowrap; */
    justify-content: space-between;
}
.leftheader{
    display: flex !important;
}

.rightheader{  
    /* width: 50%;  */
    margin: 5px;
    display: flex;
    justify-content: space-between;
}
a{
    cursor: pointer;
    color: black;
    text-decoration: none;

}
a:hover {
    color:#04c2c9 ;
    text-shadow: 1px black;
}

.side_pics{
    position:fixed;
    top:25%;
    height:100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.div_about{
    display: flex;
    align-items: center;
}
.my_name{
    color: #291b6a;
    font-size:38px;
    /* width:min-content; */
    margin-top:0px;
    display:flex;
    align-items: center;
}
.contact_image{
    width: 70px;
    height: 70px;
}
.contact_image:hover{
    background-color: #04c2c9 !important;
}
.heading_1{
    font-size:28px;
    color: #291b6a;
}
.about_2{
    line-break: 2px;
    width:50%;
    font-size:26px;
    /* font-family: "europa", sans-serif; */
    text-align: center !important;
}
.about_name{
    font-size:32px;
}
.center_about_me{
    width: 100%;
}
.goto_label{
    left:100;
}
.rightheadercontent{
    margin: 10px;
    font-size:24px;
    color: #291b6a;

}
.profile_pic{
    width:120px; 
    height:120px; 
    border-radius:100px; 
    margin:7px;
}
/* Ends here - Style for LG Gram */ 

/* Starts here - For Fixed border around the page (responsive)*/
.websiteFrame {
    position: fixed;
    z-index: 990;
    background-color:#04c2c9;
     /* rgba(198, 250, 229, 1); */
}
#websiteFrameTop {
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
}
#websiteFrameRight {
    top: 0;
    bottom: 0;
    right: 0;
    width: 10px;
}
#websiteFrameBottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
}
#websiteFrameLeft {
    top: 0;
    bottom: 0;
    left: 0;
    width: 10px;
}
/* Ends here - For Fixed border around the page (responsive)*/
section{
/* margin-left: 100px; */
}
.content {
flex: 1;
overflow: auto;
}

.wrapper {
height: 100%;
display: flex;
flex-direction: column;
}
u{
color:black;
}
h2 {
font-size:26px;
color:#616161;
margin-block-end: 0em;
}

.slide-right h2 {
animation: 1s slide-right 1s forwards;
  transform:translateX(100%);
}
.slide-right h1 {
animation: 1s slide-right 1s forwards;
transform:translateX(100%);
}
.slide-right .column{
animation: 1s slide-right 1s forwards;
transform:translateX(1000%);
}
@keyframes slide-right {
to {
  transform:translate(0);
}
}
.heading_bar{
background: #291b6a;
height: 4px;
/* margin: 25px 0 100px 0; */
width:100px;
}
.about_heading{
color:#04c2c9;
}
.box_shadow{
background-color: #ffffff;
/* border-radius: 6px; */
/* box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8; */
color: #141c3a;
display: block;
/* box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;  */
}
.lang_i_work_on{
display:flex;
justify-content: center;
}
.column{
box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8;
padding: 5px 25px;
}
p{
font-size: 24px;
margin-block-end: 0;
}
.i_style{
    font-size: 75px;
    padding: 15px;
    background-color: #04c2c9;
    border-radius: 30px;
    color:#291b6a;
}
.handcrafted{
font-size: 24px;
}

.cont_img_i{
    font-size:70px;
    color: #291b6a;
   }
   .cont_img_i:hover{
    color: #04c2c9;
   }